<div class="content-wraper">
  <div class="content">
      <footer class="d-flex justify-content-center row align-items-center  mt-6 pt-5 border-top">
          <div class="col-md-4 d-flex flex-column align-items-center">
            <p class="font-weight-bold">Gear2Go, Inc 2024</p>
            <p>Developed by:</p>
            <div class="col-sm d-flex flex-row justify-content-center footer-middle">
              <a href="https://github.com/augustofaggion"class="text-muted" ><i class="fa-brands fa-github mx-1"></i> Augusto Faggion</a>
              <a href="https://github.com/Solrosy" class="text-muted"><i class="fa-brands fa-github mx-1"></i>Sonja Lorscheidt</a>
            </div>
          </div>
      </footer>
  </div>
</div>
