<div class="content-wraper">
  <div class="content">
    <footer class="text-center mt-6 py-5 border-top text-muted">
      <a href="https://github.com/augustofaggion" class="text-muted"><i class="fa-brands fa-github mx-1"></i> Augusto Faggion</a>
      <a href="https://github.com/Solrosy" class="text-muted"><i class="fa-brands fa-github mx-1"></i>Sonja Lorscheidt</a>
    </footer>
  </div>
</div>
