  <div class="content-wraper w-100">
    <div class="content">
  <footer class="d-flex justify-content-center row align-items-center  mt-6 py-5 px-3 border-top">
      <div class="col-md-4 d-flex flex-column align-items-center">
          <p class="font-weight-bold">Gear2Go, Inc 2024</p>
          <p>Developed by:</p>
        <div class="mt-auto footer-middle">
          <a href="https://github.com/augustofaggion"class="text-muted" ><i class="fa-brands fa-github mx-1"></i> Augusto Faggion</a>
          <a href="https://github.com/Solrosy" class="text-muted"><i class="fa-brands fa-github mx-1"></i>Sonja Lorscheidt</a>
        </div>
      </div>
  </footer>
  </div>
</div>
