footer {
  background-color: rgba(230, 230, 230, 0.249);
  border-top: 1px solid #e9ecef;
}

.footer-middle{
  a {
    text-decoration: none;
  }
}

.margin-footer {
  margin-top: 30px;
}

@media (max-width: 858px) {
  .footer-middle a {
    padding: 0;
  }
}
